{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <div class = "logobox">
        <li class="logoname">다모여</li>
        <img src="../static/loud.PNG" alt="다모여" class="logo">
    </div>
    <br>
    <div class = "introduce">
        <li class = "small_title">"다모여란?"</li>
        <br>
        <li class = "body">항공대 내 동아리 홍보 및 활동 내용을 공유하며,<br>
            공모전과 스터디 등 여러 대외활동의 인원을 모집할 수 있는 웹사이트
        </li>
        <br>
        <br>
        <li class = "small_title">"개발동기는?"</li>
        <br>
        <li class = "body">SNS를 하지 않는 사람들은 총학생회의 공지를 어떻게 보지?<br>
            동아리들의 SNS 계정을 한 사이트에 합칠 수는 없을까?<br>
            신입생들은 동아리에 대한 정보를 얻기 힘들지 않을까?
        </li>
        <br>
        <br>
        <li class = "small_title">"기대효과는?"</li>
        <br>
        <li class = "body">학생들이 원하는 유익한 동아리를 찾을 수 있다<br>
            교내 동아리간의 선의의 경쟁을 불러일으킬 수 있다<br>
            학교에서 동아리 실적을 평가하는데 유용하게 사용될 수 있다
        </li>
        <br>
        <br>
    </div>
    <br>
    <br>

{% endblock %}