{% extends 'base.html' %}

{% block content %}
<div class="array">
    <nav class="line1">
        <ul class="box">
            <li class="title" >Chill</li>
            <li class="exp">Popular playlists from the SoundCloud community</li>
        </ul>
        <ul class="box1 row">
            <img src="../static/css/images/좀비.JPG" alt="좀비" class="album">
            <img src="../static/css/images/삐삐.JPG" alt="삐삐" class="album">
            <img src="../static/css/images/멍청이.JPG" alt="멍청이" class="album">
            <img src="../static/css/images/알라딘.JPG" alt="아라비안 나이트" class="album">
            <img src="../static/css/images/다칠준비.JPG" alt="다칠 준비가 돼 있어" class="album_end">
        </ul>
        <ul class="box3 row">
            <li class="albumTitle">Zombie</li>
            <li class="albumTitle">BbiBbi</li>
            <li class="albumTitle">Twit</li>
            <li class="albumTitle">Arabian Nights</li>
            <li class="albumTitleEnd">On</li>
        </ul>
        <ul class="box3 row">
            <li class="singer">Western Kite</li>
            <li class="singer">IU</li>
            <li class="singer">Hwa Sa</li>
            <li class="singer">Will Smith</li>
            <li class="singerEnd">VIXX</li>
        </ul>
        <ul class="box4">
            <img src="" alt="" class="blank">
        </ul>
        <ul class="box">
            <li class="title" >Party</li>
            <li class="exp">Popular playlists from the SoundCloud community</li>
        </ul>
        <ul class="box1 row">
            <img src="../static/css/images/쇼맨.JPG" alt="컴 어라이브" class="album">
            <img src="../static/css/images/립스.JPG" alt="립스 온 립스" class="album">
            <img src="../static/css/images/여행.JPG" alt="여행" class="album">
            <img src="../static/css/images/힙.JPG" alt="힙" class="album">
            <img src="../static/css/images/필름.JPG" alt="블랙 아웃" class="album_end">
        </ul>
        <ul class="box3 row">
            <li class="albumTitle">Come Alive</li>
            <li class="albumTitle">Lips On Lips</li>
            <li class="albumTitle">Travel</li>
            <li class="albumTitle">Hip</li>
            <li class="albumTitleEnd">Black</li>
        </ul>
        <ul class="box3 row">
            <li class="singer">Hugh Jackman & Ensemble</li>
            <li class="singer">Tiffany Young</li>
            <li class="singer">Bol4</li>
            <li class="singer">Mamamoo</li>
            <li class="singerEnd">IU</li>
        </ul>
        <ul class="box4">
            <img src="" alt="" class="blank">
        </ul>
        <ul class="box">
            <li class="title" >Relax</li>
            <li class="exp">Popular playlists from the SoundCloud community</li>
        </ul>
        <ul class="box1 row">
            <img src="../static/css/images/쥬뗌므.JPG" alt="쥬뗌므" class="album">
            <img src="../static/css/images/한숨.JPG" alt="한숨" class="album">
            <img src="../static/css/images/신청곡.JPG" alt="신청곡" class="album">
            <img src="../static/css/images/무릎.JPG" alt="무릎" class="album">
            <img src="../static/css/images/디어문.JPG" alt="디어 문" class="album_end">
        </ul>
        <ul class="box3 row">
            <li class="albumTitle">Je T'Aime</li>
            <li class="albumTitle">Breathe</li>
            <li class="albumTitle">Song Request</li>
            <li class="albumTitle">Knees</li>
            <li class="albumTitleEnd">Dear</li>
        </ul>
        <ul class="box3 row">
            <li class="singer">sugi.wa</li>
            <li class="singer">Lee Hi</li>
            <li class="singer">Lee Sora</li>
            <li class="singer">IU</li>
            <li class="singerEnd">Je Hwi</li>
        </ul>
        <ul class="box4">
            <img src="" alt="" class="blank">
        </ul>
        <ul class="box5">
            <img src="" alt="" class="blank">
        </ul>
    </nav>
    <nav class="line2">
        <ul class="box5">
            <img src="" alt="" class="blank">
        </ul>
        <ul class="box2">
            <li class="mobile">Go mobile  </li>
        </ul>
        <ul class="box6 row">
            <img src="../static/css/images/앱스토어.JPG" alt="앱스토어" class="adver1">
            <img src="../static/css/images/구글플레이.JPG" alt="구글플레이" class="adver2">
        </ul>
        <ul class="box7">
            <li class="legal">Legal - Privacy - Cookies - Imprint - Createor Resources - Blog - Charts - Popular searches</li>
            <a class="lang">Language: </a><a class="Eng">English (US)</a>
        </ul>
    </nav>
</div>
{% endblock %}
