{% extends 'base.html' %}

{% block content %}

<div class = "container_signup">
    <br>
    <br>
    <br>
    <div class = "logobox2">
        <li class="logoname">다모여</li>
        <img src="../../static/loud.PNG" alt="다모여" class="logo">
    </div>
    <form method="POST" action="{% url 'signup' %}" class="lineup">
        <br>
        <br>
        <h3>이름(ID)</h3> &nbsp; &nbsp; &nbsp;
        {% if error %}
        <li class="error">{{error}}</li>
        {% endif %}
        {% csrf_token %}
        <br>
        
        <input name="username" type="text" value="" class="inputbox" style="width: 400px; height: 50px;">
        <br>
        <br>
        <h3>비밀번호</h3>
        <br>
        <input name="password" type="password" value="" class="inputbox" style="width: 400px; height: 50px;">
        <br><br>
        <h3>비밀번호 확인</h3>
        <br>
        <input name="passwordCheck" type="password" value="" class="inputbox" style="width: 400px; height: 50px;">
        <br>
        <br>
        <h3>학번</h3>
        <br>
        <input type="realname" type="text" value="" class="inputbox" style="width: 400px; height: 50px;">
        <br>
        <br>
        <input class="button" value="가입하기" type="submit" style="width: 400px; height: 50px; background-color: #3D41B6; color:white; font-size: 1.7em; border-radius: 2px;">
        <br>
        <br>
        <br>
        <br>
    </form>
    
</div>

{% endblock %}